#nav-bar {
    display: flex;
    justify-content: space-between;
}

#nav-links {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
}

span a {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: green;
}